{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}


<!--== Start Page Header Area ==-->
<div class="page-header-area bg-img" data-bg="{% static 'assets/img/aboutus-page.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 m-auto text-center">
                <div class="page-header-content-inner">
                    <div class="page-header-content">
                        <h2>About Ignite</h2>
                        <!-- <p>Businex always try to provide the best Business Solutions for Clinets
                            to grow up their Business very sharply and smoothly.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area ==-->

<!--== Start About Area Wrapper ==-->

<!-- <div class="home-two-about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 d-lg-none">
                <figure class="about-thumb">
                    <img src="{% static 'assets/img/about-2.webp" alt="Ignite-About"/>
                </figure>
            </div>

            <div class="col-lg-6">
                <div class="about-content about-content--2">
                    
                    <h2>About <span>IGNITE</span></h2>
                    
                    <p style="text-align: justify;"><strong>IGNITE</strong> isn't merely a word, nor is it just another event; it
embodies a metaphor for igniting creativity, enthusiasm, and
innovation. It represents a dynamic movement that unites
the most brilliant minds and passionate problem-solvers
from every corner of our state. This dynamic Ideathon is
crafted to kindle your creative sparks, enabling you to turn
visionary ideas into tangible solutions that can positively
impact the lives of individuals, communities, and the future
landscape as a whole.
</p>
                    <a href="about.html" class="btn-about">MORE DETAILS <i class="mdi mdi-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="about-area-wrapper sm-top7" style="background-color: #ffffff;">
    <div class="container">
        <div class="row align-items-lg-center">
            

            <div class="col-md-6 col-lg-5 order-0 order-md-1">
                <figure class="about-thumb">
                    <img src="{% static 'assets/img/about-wission-talks.png' %}" style="border-radius: 5px;" alt="wissiontalks-About"/>
                </figure>
            </div>
            
            <div class="col-md-6 col-lg-7 order-1">
                <div class="about-content">
                    <!-- <h6>Our Services</h6> -->
                    <h2>About <span>IGNITE</span></h2>
                    <p class="text-medium"><strong>IGNITE</strong> isn't merely a word, nor is it just another event; it
                        embodies a metaphor for igniting creativity, enthusiasm, and
                        innovation. It represents a dynamic movement that unites
                        the most brilliant minds and passionate problem-solvers
                        from every corner of our state. This dynamic Ideathon is
                        crafted to kindle your creative sparks, enabling you to turn
                        visionary ideas into tangible solutions that can positively
                        impact the lives of individuals, communities, and the future
                        landscape as a whole.
                        </p>
                    <!-- <p style="text-align: justify;"><strong>WissionTalks</strong>, an initiative by "Wissionarie," is committed to reshaping the future of entrepreneurship by inspiring and guiding the young generation towards a purposeful vision. This platform nurtures passion and empowers it to evolve into thriving businesses. WissionTalks distinguishes itself in the ecosystem by blending quality and uniqueness.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>



<div class="testimonial-area bg-offwhite sp-y1 sm-top1" style="background-color: #f8f9fc;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title mb-0">
                    <!-- <h6>TESTIMONIALS</h6> -->
                    <h2>About<br><span>WissionTalks</span></h2>
                    <p class="text-medium"><strong>WissionTalks</strong>, an initiative by "Wissionarie," is committed to
                        reshaping the future of entrepreneurship by inspiring and guiding the
                        young generation towards a purposeful vision. This platform nurtures
                        passion and empowers it to evolve into thriving businesses.
                        WissionTalks distinguishes itself in the ecosystem by blending quality
                        and uniqueness.</p>
                </div>

                <div class="testimonial-carousel-dots"></div>
            </div>

            <div class="col-lg-6 ms-auto">
                <div class="testimonial-content-wrap">
                    <div class="testimonial-content">
                        
                        <div class="testimonial-item">
                            <div class="testimonial-thumb">
                                <img src="{% static 'assets/img/testimonial/mission.png' %}" alt="Ignite"/>
                            </div>

                            <div class="testimonial-txt">
                                <h2>Vision</h2>
                                <!-- <img src="{% static 'assets/img/icons/quote.png' %}" alt="Ignite"/> -->
                                <p class="text-medium">"WissionTalks" is dedicated to redefining entrepreneurship through
                                    experiential learning, providing a platform for individuals with creative
                                    and innovative ideas to turn their passion into tangible reality.
                                    </p>
                                <!-- <h5 class="client-name">David Loyed</h5> -->
                            </div>
                        </div>
                        

                        
                        <!-- <div class="testimonial-item">
                            <div class="testimonial-thumb">
                                <img src="{% static 'assets/img/testimonial/client-02.jpg" alt="Ignite"/>
                            </div>

                            <div class="testimonial-txt">
                                <img src="{% static 'assets/img/icons/quote.png' %}" alt="Ignite"/>
                                <p>Very much happy with provide the best
                                    Business Solutions for Clients to grow up
                                    their Business very sharply.</p>
                                <h5 class="client-name">Alex Tuntuni</h5>
                            </div>
                        </div> -->
                        

                        
                        <div class="testimonial-item">
                            <div class="testimonial-thumb">
                                <img src="{% static 'assets/img/testimonial/vision.png' %}" alt="Ignite"/>
                            </div>

                            <div class="testimonial-txt">
                                <h2>Mission</h2>
                                <!-- <img src="{% static 'assets/img/icons/quote.png' %}" alt="Ignite"/> -->
                                <p class="text-medium">The organization's primary mission is to connect aspiring individuals
                                    with the dynamic startup culture, closing the gap between
                                    enthusiasm and entrepreneurial reality.
                                    </p>
                                <!-- <h5 class="client-name">John Fault</h5> -->
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End About Area Wrapper ==-->

<!--== Start Service Area Wrapper ==-->
<div class="service-area-wrapper">
    <div class="service-area-top parallax" data-parallax-speed="0.75" data-bg="{% static 'assets/img/service/service-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5 m-auto text-center">
                    <div class="section-title section-title--light">
                        <h2>Social <span>Cause</span></h2>
                        <p class="text-medium" style="color: #f3f3f3;">IGNITE Ideathon is more than just an event; it's a passionate call to action for positive social 
                            change. </p>
                        <!-- <h4 class="mb-0">We make it simple, providing best solutions</h4> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-content-area">
        <div class="container">
            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-3">
                    
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="service-details.html"><img src="{% static 'assets/img/service/01.png' %}" alt="Ignite-Service"/></a>

                            <figcaption class="service-txt">
                                <h5>Addressing Real-Time Issues</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="service-details.html" class="stretched-link"></a>Addressing Real-Time Issues</h5>
                                <p> IGNITE invites participants to channel their innovative spirit 
                                    toward solving real-time problems with innovative ideas.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-sm-6 col-lg-3">
                    
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="service-details.html"><img src="{% static 'assets/img/service/02.png' %}" alt="Ignite-Service"/></a>

                            <figcaption class="service-txt">
                                <h5>Fostering Collaboration</h5>
                            </figcaption>
                        </figure>

                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="service-details.html" class="stretched-link">Fostering Collaboration</a></h5>
                                <p>IGNITE encourages collaboration among diverse groups of 
                                    participants, fostering a sense of unity and community.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-sm-6 col-lg-3">
                    
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="service-details.html"><img src="{% static 'assets/img/service/03.png' %}" alt="Ignite-Service"/></a>

                            <figcaption class="service-txt">
                                <h5>Empowering Youth</h5>
                            </figcaption>
                        </figure>

                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="service-details.html" class="stretched-link">Empowering Youth</a></h5>
                                <p>IGNITE is dedicated to empowering young minds, giving them a 
                                    platform to voice their ideas, concerns, and aspirations.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="service-details.html"><img src="{% static 'assets/img/service/04.png' %}" alt="Ignite-Service"/></a>

                            <figcaption class="service-txt">
                                <h5>Driving Innovation</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="service-details.html" class="stretched-link">Driving Innovation</a></h5>
                                <p>Our IGNITE promotes a culture of innovation. By providing 
                                    participants with the tools, resources, and mentorship needed to bring their ideas to life.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                
            </div>
        </div>
    </div>
</div>
<!--== End Service Area Wrapper ==-->


<!-- <div class="feature-area-wrapper sm-top">
    <div class="container">
        <div class="row mtn-sm-40 mtn-md-5">
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/01.png' %}" alt="Ignite-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Creative Team</h5>
                        <p>We have creative team, they always ready to help you. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/02.png' %}" alt="Ignite-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Best Service</h5>
                        <p>We have creative team, they always ready to help you. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/03.png' %}" alt="Ignite-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Online Support</h5>
                        <p>We have creative team, they always ready to help you. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->







<!--== Start History Area Wrapper ==-->
<!-- <div class="history-area bg-offwhite sp-y">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="section-title mb-lg-0">
                    <h6>Our History</h6>
                    <h2>About <span>Social Cause</span> </h2>
                    <p style="text-align: justify;"><strong>IGNITE</strong> Ideathon is more than just an event; it's a passionate call to action for positive social 
                        change. At its core, IGNITE is driven by a powerful social cause, igniting the flames of 
                        innovation and sparking transformative solutions to address pressing issues within our 
                        communities. Our 
                        IGNITE serves as a platform to address critical challenges, promote inclusivity, and drive 
                        positive change in the following ways</p>
                </div>
            </div>

            <div class="feature-area-wrapper sm-top3">
                <div class="container">
                    <div class="row mtn-sm-40 mtn-md-5">
                        <div class="col-md-3">
                            <div class="icon-box-item">
                                <div class="icon-box__icon">
                                    <img src="{% static 'assets/img/feature/01.png' %}" alt="Ignite-Feature"/>
                                </div>
                                <div class="icon-box__info">
                                    <h5>Creative Team</h5>
                                    <p>We have creative team, they always ready to help you. </p>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-3">
                            <div class="icon-box-item">
                                <div class="icon-box__icon">
                                    <img src="{% static 'assets/img/feature/02.png' %}" alt="Ignite-Feature"/>
                                </div>
                                <div class="icon-box__info">
                                    <h5>Best Service</h5>
                                    <p>We have creative team, they always ready to help you. </p>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-3">
                            <div class="icon-box-item">
                                <div class="icon-box__icon">
                                    <img src="{% static 'assets/img/feature/03.png' %}" alt="Ignite-Feature"/>
                                </div>
                                <div class="icon-box__info">
                                    <h5>Online Support</h5>
                                    <p>We have creative team, they always ready to help you. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon-box-item">
                                <div class="icon-box__icon">
                                    <img src="{% static 'assets/img/feature/03.png' %}" alt="Ignite-Feature"/>
                                </div>
                                <div class="icon-box__info">
                                    <h5>Online Support</h5>
                                    <p>We have creative team, they always ready to help you. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="history-content-wrap pl-5">
                    <div class="row mtn-40">
                        <div class="col-md-6">
                            <div class="history-item">
                                <h6>01</h6>
                                <h3>Addressing Real-Time Issues</h3>
                                <p>IGNITE invites participants to channel their innovative spirit 
                                    toward solving real-time problems with innovative ideas. We focus on issues such as 
                                    sustainability, infrastructure, technology, industries, and more, giving participants the 
                                    opportunity to contribute meaningfully to these causes.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="history-item">
                                <h6>02</h6>
                                <h3>Fostering Collaboration</h3>
                                <p>IGNITE encourages collaboration among diverse groups of 
                                    participants, fostering a sense of unity and community. By working together, participants 
                                    can create solutions that are both inclusive and effective.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="history-item">
                                <h6>03</h6>
                                <h3>Empowering Youth</h3>
                                <p>IGNITE is dedicated to empowering young minds, giving them a 
                                    platform to voice their ideas, concerns, and aspirations. We believe in the potential of youth 
                                    to drive change and shape a brighter future.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="history-item">
                                <h6>04</h6>
                                <h3>Driving Innovation</h3>
                                <p>Our IGNITE promotes a culture of innovation. By providing 
                                    participants with the tools, resources, and mentorship needed to bring their ideas to life, 
                                    IGNITE helps drive groundbreaking solutions that can make a difference.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--== End History Area Wrapper ==-->

<div class="about-area-wrapper sm-top">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-md-6 col-lg-5">
                <figure class="about-thumb">
                    <img src="{% static 'assets/img/event-description.png' %}" alt="Ignite-About"/>
                </figure>
            </div>

            <div class="col-md-6 col-lg-7">
                <div class="about-content">
                    <h6>Our Event</h6>
                    <h2>Event <span>Description</span></h2>
                    <!-- <span class="about-since">Since 2010</span> -->
                    <p><strong></strong> Are you ready to set your creativity on 
                        fire and make a meaningful impact 
                        across our entire state? Welcome to 
                        "IGNITE", the extraordinary statewide 
                        Ideathon that promises to fan the 
                        flames of innovation and illuminate 
                        the path to progress!</p>
                    <!-- <a href="about.html" class="btn-about">MORE DETAILS <i class="mdi mdi-chevron-double-right"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="member-details-wrapper sm-top2">
        <div class="container">
            <div class="member-details-wrap">
                
                <div class="member-details-bottom sm-top-wt">
                    <div class="row mtn-50">
                        <div class="col-xl-6 m-auto text-center">
                            <div class="member-education mem-achieve-item">
                                <h2>Flagship <span>Events</span></h2>
                                <p>It is an event that brings together 
                                    forward-thinking individuals who are 
                                    dedicated to tackling the most 
                                    pressing difficulties and developing 
                                    innovative ideas to improve everyday 
                                    lives. We are thrilled to present IGNITE and the
                                    exciting Flagship events.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mtn-35">
                <div class="col-md-6 col-lg-6">
                    <div class="blog-item">
                        <div class="blog-content">
                            <h2 class="h5"><a href="blog-details.html">Project Expo</a></h2>
                            <p>A Project Expo is a platform for showcasing innovative projects and ideas, promoting 
                                collaboration, and inspiring future innovations across various fields </p>
    
                            <!-- <div class="blog-meta">
                                <a href="#">By: Albert Max</a>
                                <a href="#">May 01, 2019</a>
                            </div> -->
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-6">
                    <div class="blog-item">
                        <div class="blog-content">
                            <h2 class="h5"><a href="blog-details.html">Startup Expo</a></h2>
                            <p>A Startup Expo is an energetic event celebrating entrepreneurship and innovation, where 
                                emerging businesses and startups showcase their offerings to a diverse audience. </p>
    
                            <!-- <div class="blog-meta">
                                <a href="#">By: Mohin Smith</a>
                                <a href="#">May 03, 2019</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-6">
                    <div class="blog-item">
                        <div class="blog-content">
                            <h2 class="h5"><a href="blog-details.html">Investor Pitch</a></h2>
                            <p>An Investor Pitch Event is a crucial occasion where startups pitch their business ideas to 
                                potential investors.</p>
    
                            <!-- <div class="blog-meta">
                                <a href="#">By: Mohin Smith</a>
                                <a href="#">May 03, 2019</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="blog-item">
                        <div class="blog-content">
                            <h2 class="h5"><a href="blog-details.html">Idea Pitch</a></h2>
                            <p>An Idea Pitch is a succinct presentation that introduces and advocates for a new concept or 
                                project. </p>
    
                            <!-- <div class="blog-meta">
                                <a href="#">By: Mohin Smith</a>
                                <a href="#">May 03, 2019</a>
                            </div> -->
                        </div>
                    </div>
                </div>
    
                <!-- <div class="col-md-6 col-lg-4">
                    <div class="blog-item">
                        <div class="blog-content">
                            <h2 class="h5"><a href="blog-details.html">Corporate Conference 2019</a></h2>
                            <p>We have great creative team they always ready
                                to helped you. voluptatem quiase voluptase
                                aspernatur auted fugit</p>
    
                            <div class="blog-meta">
                                <a href="#">By: Raju Ahammad</a>
                                <a href="#">May 04, 2019</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>



            <!-- <div class="row mtn-sm-60 mtn-md-5">
                <div class="col-lg-6 mb-5">
                    <div class="icon-box-item">
                        <div class="icon-box__icon">
                            <img src="{% static 'assets/img/feature/01.png' %}" alt="Businex-Feature"/>
                        </div>
                        <div class="icon-box__info">
                            <h5>Project Expo</h5>
                            <p>A Project Expo is a platform for showcasing innovative projects and ideas, promoting 
                                collaboration, and inspiring future innovations across various fields </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-6 mb-5">
                    <div class="icon-box-item">
                        <div class="icon-box__icon">
                            <img src="{% static 'assets/img/feature/02.png' %}" alt="Businex-Feature"/>
                        </div>
                        <div class="icon-box__info">
                            <h5>Startup Expo</h5>
                            <p>A Startup Expo is an energetic event celebrating entrepreneurship and innovation, where 
                                emerging businesses and startups showcase their offerings to a diverse audience. </p>
                        </div>
                    </div>
                </div>



    
                <div class="col-lg-6 mb-5">
                    <div class="icon-box-item">
                        <div class="icon-box__icon">
                            <img src="{% static 'assets/img/feature/03.png' %}" alt="Businex-Feature"/>
                        </div>
                        <div class="icon-box__info">
                            <h5>Investor Pitch</h5>
                            <p>An Investor Pitch Event is a crucial occasion where startups pitch their business ideas to 
                                potential investors.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                    <div class="icon-box-item">
                        <div class="icon-box__icon">
                            <img src="{% static 'assets/img/feature/03.png' %}" alt="Businex-Feature"/>
                        </div>
                        <div class="icon-box__info">
                            <h5>Idea Pitch</h5>
                            <p>An Idea Pitch is a succinct presentation that introduces and advocates for a new concept or 
                                project. </p>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>

<!-- <div class="feature-area-wrapper sm-top">
    <div class="container">
        <div class="row mtn-sm-60 mtn-md-5">
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/01.png' %}" alt="Businex-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Creative Team</h5>
                        <p>We have creative team, they always ready to help you. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/02.png' %}" alt="Businex-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Best Service</h5>
                        <p>We have creative team, they always ready to help you. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/03.png' %}" alt="Businex-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Online Support</h5>
                        <p>We have creative team, they always ready to help you. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="team-area-wrapper bg-img sp-y" style="background-color: #0f0168;">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="section-title section-title--light mb-lg-0">
                    <h6>Creative Team</h6>
                    <h2>We have great <br>creative team</h2>
                    <!-- <p><strong>Businex</strong> always try to provide the best Business Solutions
                        for Clients to grow up their Business sharp and smoothly.
                        We voluptatem voluptas aspernatur aut odit fugit, quia consequuur magni dolores eos qui ratione.
                    </p> -->
                </div>
            </div>

            <div class="col-lg-8">
                <div class="team-content-wrap slick-dots--light mtn-md-5">
                    <div class="team-mem-item">
                        <figure class="member-pic">
                            <img src="{% static 'assets/img/team/01.jpg" alt="Team-Businex"/>
                        </figure>
                        <div class="member-info">
                            <h5><a href="team-details.html" class="stretched-link">Lucy Farnando</a></h5>
                            <span class="designation">CTO & Founder</span>
                        </div>
                    </div>

                    <div class="team-mem-item">
                        <figure class="member-pic">
                            <img src="{% static 'assets/img/team/02.jpg" alt="Team-Businex"/>
                        </figure>
                        <div class="member-info">
                            <h5><a href="team-details.html" class="stretched-link">James Anderson</a></h5>
                            <span class="designation">Creative Head</span>
                        </div>
                    </div>

                    <div class="team-mem-item">
                        <figure class="member-pic">
                            <img src="{% static 'assets/img/team/03.jpg" alt="Team-Businex"/>
                        </figure>
                        <div class="member-info">
                            <h5><a href="team-details.html" class="stretched-link">Thomas Nancy</a></h5>
                            <span class="designation">Marketing Head</span>
                        </div>
                    </div>

                    <div class="team-mem-item">
                        <figure class="member-pic">
                            <img src="{% static 'assets/img/team/04.jpg" alt="Team-Businex"/>
                        </figure>
                        <div class="member-info">
                            <h5><a href="team-details.html" class="stretched-link">Nail Mathue</a></h5>
                            <span class="designation">Head of Research</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="fun-fact-area sm-top5 parallax" data-parallax-speed="0.70" data-bg="{% static 'assets/img/fun-fact-bg.jpg">
    <div class="container">
        <div class="row mtn-40">
            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">3600</span>+</h2>
                    <h6 class="counter-txt">IDEAS</h6>
                </div>
            </div>

            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">40</span>+</h2>
                    <h6 class="counter-txt">COLLEGES</h6>
                </div>
            </div>

            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">280</span>+</h2>
                    <h6 class="counter-txt">IDEAS FINALIZED</h6>
                </div>
            </div>


            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">18</span>+</h2>
                    <h6 class="counter-txt">STARTUPS SUPPORTED</h6>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--== Start Brand Logo Area Wrapper ==-->
<!-- <div class="brand-logo-area sm-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-logo-content slick-row-20">
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/02.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/04.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/05.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="brand-logo-area sm-top4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-logo-content slick-row-20">
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/02.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/04.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/05.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--== End Brand Logo Area Wrapper ==-->

<!--== Start Fun Fact Area Wrapper ==-->
<!-- <div class="fun-fact-area sm-top parallax" data-parallax-speed="0.70" data-bg="{% static 'assets/img/fun-fact-bg.jpg">
    <div class="container">
        <div class="row mtn-40">
            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">2654</span></h2>
                    <h6 class="counter-txt">Happy Clients</h6>
                </div>
            </div>

            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">1520</span></h2>
                    <h6 class="counter-txt">Project Done</h6>
                </div>
            </div>

            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">120</span></h2>
                    <h6 class="counter-txt">Awards Win</h6>
                </div>
            </div>


            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">3580</span></h2>
                    <h6 class="counter-txt">Cups Coffee</h6>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--== End Fun Fact Area Wrapper ==-->
{% endblock%}