{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Ignite Ideathon - Sparking Creativity, Innovation, and Positive Impact</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{% static 'assets/img/ignite-favicon.png' %}" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
          rel="stylesheet">

    <!--== All Magnific Popup CSS ==-->
    <link href="{% static 'assets/css/magnific-popup.min.css'  %}" rel="stylesheet"/>
    <!--== All Animate CSS ==-->
    <link href="{% static 'assets/css/animate.min.css'  %}" rel="stylesheet"/>
    <!--== All FontAwesome CSS ==-->
    <link href="{% static 'assets/css/font-awesome.min.css'  %}" rel="stylesheet"/>
    <!--== All Material Icons CSS ==-->
    <link href="{% static 'assets/css/materialdesignicons.min.css'  %}" rel="stylesheet"/>
    <!--== All Helper CSS ==-->
    <link href="{% static 'assets/css/helper.min.css'  %}" rel="stylesheet"/>
    <!--== All Revolution CSS ==-->
    <link href="{% static 'assets/css/settings.css'  %}" rel="stylesheet"/>
    <!--== All Slicknav CSS ==-->
    <link href="{% static 'assets/css/slicknav.min.css'  %}" rel="stylesheet"/>
    <!--== All Timeline CSS ==-->
    <link href="{% static 'assets/css/timeline.css'  %}" rel="stylesheet"/>
    <!--== All Slick Slider CSS ==-->
    <link href="{% static 'assets/css/slick.min.css'  %}" rel="stylesheet"/>
    <!--== All BootStrap CSS ==-->
    <link href="{% static 'assets/css/bootstrap.min.css'  %}" rel="stylesheet"/>
    <!--== Main Style CSS ==-->
    <link href="{% static 'assets/css/style.min.css'  %}" rel="stylesheet"/>

    <link href="{% static 'assets/homecss/main.css'  %}" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>

<!--== Start Header Area Wrapper ==-->
<header class="header-area sticky">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-lg-2">
                <!-- Start Logo Area -->
                <div class="logo-area">
                    <a href="/"><img src="{% static 'assets/img/ignite-ap-main-footer-logo.png' %}" alt="Businex-Logo"></a>
                </div>
                <!-- End Logo Area -->
            </div>

            <div class="col-lg-7 d-none d-lg-block">
                <!-- Start Navigation Area -->
                <div class="navigation-area">
                    <ul class="main-menu nav">
                        <li class="has-submenu"><a href="/">Home</a></li>
                        <li class="has-submenu"><a href="/about/">About Us</a></li>
                        <li class="has-submenu"><a href="/speakers/">Speakers</a></li>
                        <li class="has-submenu"><a href="/partners/">Partners</a></li>
                        <li class="has-submenu1"><a href="/events/">Events</a></li>
                        <li class="has-submenu1"><a href="/contact/">Contact</a></li>
                        <li class="mobial-li">
                            <div class="mobial-login">
                                {% if not request.user.is_authenticated %}
                            <a href="/login/" class="tel-no">Login</a>
                            {% else %}
                            <a href="/logout/"><span class="log-out ">LogOut</span></a>
                            {% endif %}
                            </div>
                        </li>
                        
                        <!-- <li><a href="contact.html">Contact</a></li> -->
                    </ul>
                </div>
                <!-- End Navigation Area -->
            </div>

            <div class="col-7 col-lg-3">
                <!-- Start Header Action Area -->
                <div class="header-action text-end">
                    <button class="btn-cog">
                            <!-- {{ request.user.first_name }} -->
                            {% if not request.user.is_authenticated %}
                            <a href="/login/" class="tel-no"><i class="fa fa-user-circle"></i>&nbsp;Login</a>
                            {% else %}
                            <a href="/logout/"><span class="log-out "><i class="fa fa-user-circle mx-2"></i>LogOut</span></a>
                            {% endif %}
                    </button>
                    <button class="btn-menu d-lg-none"><i class="fa fa-bars"></i></button>
                </div>
                <!-- End Header Action Area -->
            </div>
        </div>
    </div>
</header>
<!--== End Header Area Wrapper ==-->



<!-------------Fedback area start-------------------->



{% block content %}
{% endblock %}

<!----- Feedback area end------->







<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area sp-y" >
   

    <div class="fun-fact-area sm-top parallax" data-parallax-speed="0.70" data-bg="assets/img/fun-fact-bg.jpg" style="background-position: center -2.09%; background-image: url(&quot;assets/img/fun-fact-bg.jpg&quot;);">
        <div class="footer-top-wrap">
            <div class="container">
                <div class="footer-top-content">
                    <div class="row align-items-center">
                        <div class="col-md-8 col-lg-6">
                            <h2 class="text-light">Get Started Today</h2>
                            <p class="text-light text-medium">Are you ready to set your creativity on 
                                fire and make a meaningful impact 
                                across our entire state? Welcome to 
                                "IGNITE".</p>
                        </div>
                        <div class="col-md-4 col-lg-6 text-md-end mt-sm-25">
                            <a href="/contact/" class="btn-outline" style="border-color: #ffffff; color:white">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget-area sm-top-wt pb-3">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-lg-4 order-4 order-lg-0">
                    <div class="widget-item">
                        <div class="about-widget footer-logo">
                            <a href="/"><img src="{% static 'assets/img/ignite-ap-main-footer-logo.png' %}" alt="Logo"/></a>
                            <p class="text-medium">Ignite represents a dynamic movement that unites the most brilliant minds and passionate problem-solvers from every corner of our state.</p>

                            <div class="copyright-txt">
                                <p>&copy;
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script>
                                    All Rights Reserved by Ignite AP <br> Developed by <a href="https://dt7solutions.com/" target="_blank">DT7 Solutions</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2 ms-auto">
                    <div class="widget-item">
                        <h4 class="widget-title" style="color: #0e0067;">Company</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about/">About Us</a></li>
                                <li><a href="/contact/">Contact</a></li>
                                <li><a href="/events/">Events</a></li>
                                <!-- <li><a href="#">Careers</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2 ms-auto">
                    <div class="widget-item">
                        <h4 class="widget-title" style="color: #0e0067;">Quick Links</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="http://www.facebook.com/Igniteapfest" target="_blank">Facebook</a></li>
                                <li><a href="http://www.twitter.com/Igniteapfest" target="_blank">Twitter</a></li>
                                <li><a href="https://www.linkedin.com/company/igniteapfest/" target="_blank">Linkedin</a></li>
                                <li><a href="https://instagram.com/igniteapfest" target="_blank">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="widget-item">
                        <h4 class="widget-title" style="color: #0e0067;">Contact</h4>
                        <div class="widget-body">
                            <address>C/o H.O
Above Indian Bank, Gowthama Budha Road, 
Mangalagiri, Andhra Pradesh 522503<br>
info@igniteap.com <br>
+91 91330 63307,6304446078
                            </address>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</footer>
<!--== End Footer Area Wrapper ==-->

<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="mdi mdi-chevron-up"></i></button>


<!-- Start Off Canvas Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-cog">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <div class="close-btn">
            <button class="btn-close"><i class="mdi mdi-close"></i></button>
        </div>

        <!-- Start Off Canvas Content -->
        <div class="off-canvas-content mb-sm-30 mt-30">
            <div class="off-canvas-item">
                <div class="log-in-content-wrap">
                    <h2>Login</h2>
                    <div class="login-form mtn-15">
                        <!-- <form action="#" method="post" id="login-form">
                            {% csrf_token %}
                            <div class="form-input-item">
                                <label for="username" class="sr-only">Username</label>
                                <input type="text" id="username" placeholder="Username" required>
                            </div>

                            <div class="form-input-item">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" id="password" placeholder="Password" required>
                            </div>

                            <div class="form-input-item">
                                <button type="button" id="login-btn" class="btn-submit">Login</button>
                            </div>
                        </form> -->
                    </div>

                    <div class="sign-up-notification">
                        <p style="color: #0e0067;">Not Register? <a href="/register/">Create Account Now.</a></p>
                    </div>
                </div>
            </div>

            <div class="off-canvas-item mt-sm-30">
                <div class="social-icons">
                    <a href="http://www.facebook.com/Igniteapfest" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="http://www.twitter.com/Igniteapfest" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://instagram.com/igniteapfest" target="_blank"><i class="fa fa-instagram"></i></a>
                    <!-- <a href="https://dribbble.com" target="_blank"><i class="fa fa-dribbble"></i></a>
                    <a href="https://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a> -->
                </div>
                <div class="copyright-content">
                    <p>&copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- End Off Canvas Menu Wrapper -->


<!-- Start Off Canvas Menu Wrapper -->
<aside class="off-canvas-wrapper off-canvas-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <!-- Start Off Canvas Header -->
        <div class="close-btn">
            <button class="btn-close"><i class="mdi mdi-close"></i></button>
        </div>

        <!-- Start Off Canvas Content -->
        <div class="off-canvas-content">
            <div class="res-mobile-menu">

            </div>
        </div>
    </div>
</aside>
<!-- End Off Canvas Menu Wrapper -->


<!--=======================Javascript============================-->
<script src="{% static 'assets/js/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-migrate.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoint.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/instafeed.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/parallax.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.min.js' %}"></script>

<!--=== models ajax calls ===-->
<script src="{% static 'assets/js/userauth.js' %}"></script>

<!--=== Active Js ===-->
<script src="{% static 'assets/js/active.min.js' %}"></script>

<!-- REVOLUTION JS FILES -->
<script src="{% static 'assets/js/revslider/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/jquery.themepunch.revolution.min.js' %}"></script>


<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/js/revslider/extensions/revolution.extension.video.min.js' %}"></script>

<script>
var $feedDrawer = null;
var $feedError = null;
var $feedForm = null;
var $feedSuccess = null;
var $feedTrigger = null;
var feedSessInfo = null;

$(function () {
  createFeedbackForm();
  $feedTrigger.click(showDrawer);
  if ($.browser.msie) {
    $feedDrawer.addClass("isie");
  }
});

function ajaxToggleForm(toggle) {
  if (toggle.on && toggle.reset) {
    $("#feedbackForm #description, #feedbackForm #details").val("");
    $feedForm.find("textarea").html("");
    $feedDrawer.removeClass("loading");
    $feedForm.show();
  } else if (toggle.on && !toggle.reset) {
    $feedDrawer.removeClass("loading");
    $feedForm.show();
  } else {
    $feedForm.hide();
    $feedDrawer.addClass("loading");
  }
}

function createFeedbackForm() {
  var url = document.location;
 
  //create drawer
  var $drawer = '<div id="feedbackDrawer">';
  //create form
  $drawer += '<div id="feedbackForm">';
  $drawer += "<form>";
  $drawer += "<h2>New Event</h2>";
  $drawer += "<p>Ignite isn't merely a word, nor is it just another event; it embodies a metaphor for igniting creativity, enthusiasm, and innovation.</p>";
  $drawer += "<button>Download</button>";
  $drawer += "</form>";
  $drawer += "</div>";
  //end form
  
  //create trigger
  $drawer += '<div id="feedbackTrigger">Event';
  $drawer += '<span id="close">&raquo;</span>';
  $drawer += "</div>";
  //end trigger
  $drawer += "</div>";
  //end drawer
  $("body").append($drawer);

  //set global vars
  $feedDrawer = $("#feedbackDrawer");
  $feedForm = $("#feedbackForm");
  $feedTrigger = $("#feedbackTrigger");
}

function initDrawerFunctions() {
  $feedDrawer.data("initLoad", true);
  $feedDrawer.find("button").button();
  $feedForm.find("form").submit(submitFeedback);
  $feedSuccess.find("button").click(function () {
    ajaxToggleForm({ on: true, reset: true });
    $(this).parent().hide();
  });
  $feedError.find("button").click(function () {
    ajaxToggleForm({ on: true, reset: false });
    $(this).parent().hide();
  });
  validateFeedback($feedForm.find("form"));
  if (!Modernizr.input.placeholder) $feedForm.find(".field").placeholder();
}

function showDrawer() {
  if (!$feedDrawer.data("initLoad")) initDrawerFunctions();
  $feedDrawer.toggleClass("showDrawer");
  return false;
}


function submitFeedback() {
  var pdfFileName = '/downloadbroacher/';  
  console.log("File Path:", pdfFileName);
  var downloadLink = document.createElement('a');
  downloadLink.href = pdfFileName;
  downloadLink.download = 'IGNITE_AP_Website.pdf';
  document.body.appendChild(downloadLink);
  downloadLink.click();
  document.body.removeChild(downloadLink);
}

</script>
<script src="{% static 'assets/js/revslider/rev-active.js' %}"></script>
</body>

</html>