{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}


<!--== Start Page Header Area ==-->
<div class="page-header-area bg-img" data-bg="{% static 'assets/img/contact.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 m-auto text-center">
                <div class="page-header-content-inner">
                    <div class="page-header-content">
                        <h2>Contact Us</h2>
                        <!-- <p>Businex always try to provide the best Business Solutions for Clinets
                            to grow up their Business very sharply and smoothly.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area ==-->

<!--== Start Contact Page Area Wrapper ==-->
<div class="contact-page-area-wrapper sp-y mt-5">
    <div class="container">
        <div class="contact-content-wrap">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-area contact-method">
                        <h3 style="color: #0e0067;">Send us a Message</h3>

                        <div class="contact-form-wrap">
                            <form action="#" method="post" id="contact-btn">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" id="firstname" name="firstname" placeholder="First Name *"
                                                       required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" id="lastname" name="lastname" placeholder="Last Name *" required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="email" id="email" name="email" placeholder="Email address *"
                                                       required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" id="phone" name="phone" placeholder="Your Phone"/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="single-input-item">
                                            <label for="con_message" class="sr-only m-0"></label>
                                            <textarea  id="message" name="message" cols="30" rows="7"
                                                      placeholder="Message *" required></textarea>
                                        </div>

                                        <div class="single-input-item mb-0 mt-40">
                                            <button type="submit" class="btn-outline">Send Message</button>
                                        </div>

                                        <div class="form-message"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="contact-information contact-method">
                        <div class="contact-info-con">
                            <h3>Contact Info</h3>

                            <div class="widget-item m-0">
                                <address>
                                    C/o H.O Above Indian Bank, Gowthama Budha Road, Mangalagiri, Andhra Pradesh 522503 <br>info@igniteap.com
<br>+91 91330 63307 ,6304446078
                                    
                                </address>
                            </div>
                            <div class="member-social-icons mt-30">
                                <a href="http://www.facebook.com/Igniteapfest" target="_blank"><i class="mdi mdi-facebook"></i></a>
                                <a href="http://www.twitter.com/Igniteapfest" target="_blank"><i class="mdi mdi-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/igniteapfest/" target="_blank"><i class="mdi mdi-linkedin"></i></a>
                                <!-- <a href="#"><i class="mdi mdi"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Contact Page Area Wrapper ==-->
{% endblock %}