{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}


<!--== Start Page Header Area ==-->
<div class="page-header-area bg-img" data-bg="{% static 'assets/img/events/events-two.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 m-auto text-center">
                <div class="page-header-content-inner">
                    <div class="page-header-content">
                        <h2> Event Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area ==-->

<!--== Start Contact Page Area Wrapper ==-->
<div class="contact-page-area-wrapper sp-y sm-top7">
    <div class="container">
        <div class="contact-content-wrap">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-form-area contact-method">
                        {% if eventinfo %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h2>{{ eventinfo.title }}</h2>
                <p style="font-size: 18px;">{{ eventinfo.description }}</p>
            </div>
                <div class="row" style="width: 100%;">
                    <div class="col-lg-12">
                        <h3>Agenda</h3>
                        <ul class="nav nav-tabs d-flex" role="tablist" style="display: flex; width: 700px;">
                            {% for item in agenda %}
                                <li class="nav-item">
                                    <a class="nav-link {% if forloop.first %}active{% endif %}" 
                                       id="tab-{{ forloop.counter }}" 
                                       data-bs-toggle="tab" 
                                       href="#pane-{{ forloop.counter }}" 
                                       role="tab" 
                                       aria-controls="pane-{{ forloop.counter }}" 
                                       aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                        {{ item.date }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-12 mt-3">
                        <div class="tab-content">
                          
                            {% for item in agenda %}
                                <div class="tab-pane fade col-lg-4  d-flex {% if forloop.first %}show active{% endif %}" 
                                     id="pane-{{ forloop.counter }}" 
                                     role="tabpanel" 
                                     aria-labelledby="tab-{{ forloop.counter }}">
                                     <!-- Event : {{ item.event }} EventDAate : {{ item.date }} -->
                                     {% for panelist in item.panelist_set.all %}
                                        <div class="container">
                                            <div class="row panelist-card mx-2 ">
                                                <div class="col-lg-4 d-flex">
                                                    <div class="col-lg-6" style="width: 100px; height:100px">
                                                        <figure class="author-thumb" >
                                                            <a href="#"><img src="{{ panelist.image.url }}" alt="Author" style="border-radius: 50%;"></a>
                                                        </figure>
                                                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <div class="col-lg-6">
                                                        <div class="comment-footer mt-8  ">
                                                            <ul>
                                                                <li class="mt-3">
                                                                    <strong>Name</strong>:{{ panelist.name }}
                                                                </li>
                                                                <li>
                                                                    <strong>{{ panelist.designation }}</strong> 
                                                                </li>
                                                                <li>
                                                                    <strong>{{ panelist.companeyName }}</strong> 
                                                                </li>
                                                            </ul>
                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                      
                                        
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- Add your dynamic pricing plan generation here -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
{% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--== End Contact Page Area Wrapper ==-->
{% endblock %}