{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!--== Start Slider Area Wrapper ==-->
<div class="slider-area-wrapper">
    <div id="rev_slider_11_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="business-classic"
         data-source="gallery">
        <div id="rev_slider_11_1" class="rev_slider fullwidthabanner" data-version="5.4.7">
            <ul>

                <!-- SLIDE  -->
                {%if EventTimer %}
                <li data-index="rs-27" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
                    data-thumb="{% static 'assets/img/slider/01_thumb.jpg' %}" data-rotate="0" data-saveperformance="off"
                    data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="{{ EventTimer.image.url }}" alt="Ignite" data-bgposition="top center"
                         data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="15" class="rev-slidebg"
                         data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme slide-heading" data-x="['center','center','center','center']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['250','204','200','180']" data-fontsize="['55','55','40','25']"
                         data-fontweight="['600']" data-lineheight="['65','65','50','35']" data-color="#fff"
                         data-width="['1000','1000','650','320']" data-height="none" data-whitespace="normal"
                         data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":10,"split":"lines","splitdelay":0.1,"speed":600,"split_direction":"forward","frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center']">
                         <h1 class="text-danger">{{ EventTimer.EventName }}</h1>
                         <p  style="font-size:large;">{{ EventTimer.Eventdescription | truncatewords:10}}</p>
                         
                         
                         
                         <div class="clock">
                            <div class="days p-1">
                                <div class="first">
                                    <div class="number">0</div>
                                </div>
                                <div class="second">
                                    <div class="number">0</div>
                                </div>
                            </div>
                            <div class="tick">:</div>
                            <div class="hours p-1">
                                <div class="first">
                                    <div class="number">0</div>
                                </div>
                                <div class="second">
                                    <div class="number">0</div>
                                </div>
                            </div>
                            <div class="tick">:</div>
                            <div class="minutes p-1">
                                <div class="first">
                                    <div class="number">0</div>
                                </div>
                                <div class="second">
                                    <div class="number">0</div>
                                </div>
                            </div>
                            <div class="tick">:</div>
                            <div class="seconds p-1">
                                <div class="first ">
                                    <div class="number">0</div>
                                </div>
                                <div class="second infinite">
                                    <div class="number ">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex labels" style="display:flex;justify-content: center;">
                            <div class="days-m">
                                <p>Days</p>
                            </div>
                            <div class="days-m">
                                <p>Hours</p>
                            </div>
                            <div class="days-m">
                                <p>Minutes</p>
                            </div>
                            <div class="days-m">
                                <p>Seconds</p>
                            </div>
                        </div>
                        <button class="btn btn-primary"  target="_blank"  href="{{ EventTimer.Upload_url }}">Read More</button>
                        </div> 
                        
                </li>
                {% endif %}
                <!-- end SLIDE  -->
             
            
            </ul>
            <!-- <div class="tp-bannertimer tp-bottom"></div> -->
        </div>
    </div>
</div>
<!--== End Slider Area Wrapper ==-->




<div class="fun-fact-area sm-top5 parallax" data-parallax-speed="0.70" data-bg="{% static 'assets/img/stats-img.png' %}">
    <div class="container">
        <div class="row mtn-40">
            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">8500</span>+</h2>
                    <h6 class="counter-txt">STUDENTS</h6>
                </div>
            </div>

            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">5</span> LAC+</h2>
                    <h6 class="counter-txt">WORTH PRIZES</h6>
                </div>
            </div>

            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">300</span>+</h2>
                    <h6 class="counter-txt">COLLEGES</h6>
                </div>
            </div>


            <div class="col-6 col-md-3 text-center">
                <div class="counter-item">
                    <h2 class="counter-number"><span class="counter">1.5</span> MIL+</h2>
                    <h6 class="counter-txt">REACH</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about-area-wrapper sm-top7" >
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-md-6 col-lg-7 order-1">
                <div class="about-content ms-0">
                    <!-- <h6>Our Team</h6> -->
                    <h2>About <span>IGNITE</span></h2>
                    <p style="text-align: justify;"><strong>Ignite</strong> isn't merely a word, nor is it just another event; it
                        embodies a metaphor for igniting creativity, enthusiasm, and
                        innovation. It represents a dynamic movement that unites
                        the most brilliant minds and passionate problem-solvers
                        from every corner of our state. This dynamic Ideathon is
                        crafted to kindle your creative sparks, enabling you to turn
                        visionary ideas into tangible solutions that can positively
                        impact the lives of individuals, communities, and the future
                        landscape as a whole.</p>

                        {% if EventTimer %}
                        <p style="color:#081640!important;background-color: aqua; visibility: hidden;" id="eventdatetime" onload="updateCountdown()">{{EventTimer.target_datetime}}</p>
                        {% endif %}  
                </div>
            </div>

            <div class="col-md-6 col-lg-5 order-0 order-md-1">
                <figure class="about-thumb">
                    <img src="{% static 'assets/img/home/About-Ignite.png' %}" style="border-radius: 5px;" alt="Ignite-About"/>
                </figure>
            </div>
        </div>
    </div>
</div>


<div class="about-area-wrapper sm-top7" style="background-color: #f8f9fc;">
    <div class="container">
        <div class="row align-items-lg-center">
            

            <div class="col-md-6 col-lg-5 order-0 order-md-1">
                <figure class="about-thumb">
                    <img src="{% static 'assets/img/about-wission-talks.png' %}" style="border-radius: 5px;" alt="wissiontalks-About"/>
                </figure>
            </div>
            
            <div class="col-md-6 col-lg-7 order-1">
                <div class="about-content">
                    <!-- <h6>Our Services</h6> -->
                    <h2>About <span>WissionTalks</span></h2>
                    <p style="text-align: justify;"><strong>WissionTalks</strong>, an initiative by "Wissionarie," is committed to reshaping the future of entrepreneurship by inspiring and guiding the young generation towards a purposeful vision. This platform nurtures passion and empowers it to evolve into thriving businesses. WissionTalks distinguishes itself in the ecosystem by blending quality and uniqueness.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="feature-area-wrapper sm-top">
    <div class="container">
        <div class="row mtn-sm-40 mtn-md-5">
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/01.png' %}" alt="Ignite-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Creative Team</h5>
                        <p>We have creative team, they always ready to help you. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/02.png' %}" alt="Ignite-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Best Service</h5>
                        <p>We have creative team, they always ready to help you. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="icon-box__icon">
                        <img src="{% static 'assets/img/feature/03.png' %}" alt="Ignite-Feature"/>
                    </div>
                    <div class="icon-box__info">
                        <h5>Online Support</h5>
                        <p>We have creative team, they always ready to help you. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="service-area-wrapper sm-top-wt pb-5">
  
        <div class="container mb-5" >
            <div class="row">
                <div class="col-lg-6 col-xl-5 m-auto text-center">
                    <div class="about-content">
                        <h2>Why Join <span>IGNITE?</span></h2>
                       
                
                </div>
            </div>
        </div>
    </div>

    <div class="service-content-area ">
        <div class="container">
            <div class="row mtn-30">
                <div class="col-sm-6 col-lg-4  ">
                    <!-- Start Service Item -->
                    <div class="service-item ">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/home/Impact.png' %}" alt="Businex-Service"></a>

                            <figcaption class="service-txt">
                                <h5>Impact</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link"></a>Impact</h5>
                                <p>IGNITE empowers you to directly address real issues in our state. Your innovative 
                                    ideas have the potential to bring about tangible, positive change for your community and 
                                    beyond.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/home/network.png' %}" alt="Businex-Service"></a>

                            <figcaption class="service-txt">
                                <h5>Network</h5>
                            </figcaption>
                        </figure>

                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link">Network</a></h5>
                                <p>Connect with a diverse group of like-minded individuals, including fellow 
                                    innovators, seasoned mentors, and potential collaborators. Forge valuable relationships that 
                                    extend far beyond the event.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/home/Learning.png' %}" alt="Businex-Service"></a>

                            <figcaption class="service-txt">
                                <h5>Learning</h5>
                            </figcaption>
                        </figure>

                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link">Learning</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit consectetur adipisicing
                                    elit. Asdipiscing elit. Consectetur adipisicing hastech.</p>
                            </div>
                        </div>
                        <!-- End Service Item -->
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="#"><img src="{% static 'assets/img/home/Prize.png' %}" alt="Businex-Service"></a>

                            <figcaption class="service-txt">
                                <h5>Prizes</h5>
                            </figcaption>
                        </figure>
                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="#" class="stretched-link">Prizes</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit consectetur adipisicing
                                    elit. Asdipiscing elit. Consectetur adipisicing hastech.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="service-details.html"><img src="{% static 'assets/img/home/Fun.png' %}" alt="Businex-Service"></a>

                            <figcaption class="service-txt">
                                <h5>Fun</h5>
                            </figcaption>
                        </figure>

                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="service-details.html" class="stretched-link">Fun</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit consectetur adipisicing
                                    elit. Asdipiscing elit. Consectetur adipisicing hastech.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>

                <div class="col-sm-6 col-lg-4">
                    <!-- Start Service Item -->
                    <div class="service-item">
                        <figure class="service-thumb">
                            <a href="service-details.html"><img src="{% static 'assets/img/home/Fun.png' %}" alt="Businex-Service"></a>

                            <figcaption class="service-txt">
                                <h5>Fun</h5>
                            </figcaption>
                        </figure>

                        <div class="service-content">
                            <div class="service-content-inner">
                                <h5><a href="service-details.html" class="stretched-link">Fun</a></h5>
                                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit consectetur adipisicing
                                    elit. Asdipiscing elit. Consectetur adipisicing hastech.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>
            </div>
        </div>
    </div>
</div>

<!--== End Team Area Wrapper ==-->

<!--== Start Blog Area Wrapper ==-->
<div style="background-color: #f8f9fc;">
    <div class="container sm-top7">
        <h2>Our <span>Events</span></h2>
        <p style="text-align: justify;">Are you ready to set your creativity on 
            fire and make a meaningful impact 
            across our entire state? Welcome to 
            "IGNITE", the extraordinary statewide 
            Ideathon that promises to fan the 
            flames of innovation and illuminate 
            the path to progress</p> <br>
        <!-- <img src="{% static 'assets/img/home/home-event-banner-img.png' %}" width="100%" alt="A black, brown, and white dog wearing a kerchief"> -->

        
    </div>
</div>

<section class="section contact blog-sec-main bg-light pt-5" data-section="Service" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 service-heading-section">
          <div class="section-heading">
            <!-- <h2>Services</h2> -->
          </div>
        </div>
        </div>
        <div class="row service-list">
            {% for item in event %}
            <div class="col-sm-12 col-md-4 mb-5">
                <div class="card card-flip h-100">
                    <div class="card-front" style="background-image: url({{ item.imageurl }}); background-size: cover; height: 100%; opacity: 0.7; background-color: rgba(0, 0, 0, 0.945); ">
                        <div class="card-body">
                            <h3 class="card-title front-title" style="font-size: 25px; color: red">{{ item.title }}</h3>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body">
                            <h3 class="card-title" style="font-size: 25px;">{{ item.title }}</h3>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{% url 'event_detail' item.ID %}" class="btn btn-warning mb-4">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    
      </div>
    </div>
  </section>


<!--== Start Fun Fact Area Wrapper ==-->
<div class="brand-logo-area sm-top4" >
    <div class="container">
        <div class="row ">
            
            <div class="col-12">
                <h2 class="text-center mb-5">Golden <span>Sponors</span></h2>
                <div class="brand-logo-content slick-row-20">
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/02.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/04.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/05.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area sm-top4" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-5">Sliver <span>Sponors</span></h2>
                <div class="brand-logo-content-5 slick-row-20">
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/02.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/04.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/05.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area sm-top4" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-5">Bronze <span>Sponors</span></h2>
                <div class="brand-logo-content-6 slick-row-20">
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/02.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/04.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/05.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/03.png' %}" alt="Ignite-Logo"/></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>
                    <div class="brand-logo-item">
                        <a href="#"><img src="{% static 'assets/img/brand-logo/01.png' %}" alt="Ignite-Logo"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--== End Fun Fact Area Wrapper ==-->
{% endblock %}

