{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}


<!--== Start Page Header Area ==-->
<div class="page-header-area bg-img" data-bg="{% static 'assets/img/contact-banner.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 m-auto text-center">
                <div class="page-header-content-inner">
                    <div class="page-header-content">
                        <h2>Speakers</h2>
                        <!-- <p>Businex always try to provide the best Business Solutions for Clinets
                            to grow up their Business very sharply and smoothly.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area ==-->
<div class="team-page-area-wrapper bg-offwhite sp-y sm-top">
    <div class="container">
        <div class="row mtn-30">
            <div class="col-sm-6 col-lg-3">
                <div class="team-mem-item">
                    <figure class="member-pic">
                        <img src="{% static 'assets/img/team/01.jpg' %}" alt="Team-Businex">
                    </figure>
                    <div class="member-info">
                        <h5><a href="team-details.html" class="stretched-link">Lucy Farnando</a></h5>
                        <span class="designation">CTO &amp; Founder</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-mem-item">
                    <figure class="member-pic">
                        <img src="{% static 'assets/img/team/02.jpg' %}" alt="Team-Businex">
                    </figure>
                    <div class="member-info">
                        <h5><a href="team-details.html" class="stretched-link">James Anderson</a></h5>
                        <span class="designation">Creative Head</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-mem-item">
                    <figure class="member-pic">
                        <img src="{% static 'assets/img/team/03.jpg' %}" alt="Team-Businex">
                    </figure>
                    <div class="member-info">
                        <h5><a href="team-details.html" class="stretched-link">Thomas Nancy</a></h5>
                        <span class="designation">Marketing Head</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-mem-item">
                    <figure class="member-pic">
                        <img src="{% static 'assets/img/team/04.jpg' %}" alt="Team-Businex">
                    </figure>
                    <div class="member-info">
                        <h5><a href="team-details.html" class="stretched-link">Nail Mathue</a></h5>
                        <span class="designation">Head of Research</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-mem-item">
                    <figure class="member-pic">
                        <img src="{% static 'assets/img/team/05.jpg' %}" alt="Team-Businex">
                    </figure>
                    <div class="member-info">
                        <h5><a href="team-details.html" class="stretched-link">Lucy Farnando</a></h5>
                        <span class="designation">CTO &amp; Founder</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-mem-item">
                    <figure class="member-pic">
                        <img src="{% static 'assets/img/team/06.jpg' %}" alt="Team-Businex">
                    </figure>
                    <div class="member-info">
                        <h5><a href="team-details.html" class="stretched-link">James Anderson</a></h5>
                        <span class="designation">Creative Head</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-mem-item">
                    <figure class="member-pic">
                        <img src="{% static 'assets/img/team/01.jpg' %}" alt="Team-Businex">
                    </figure>
                    <div class="member-info">
                        <h5><a href="team-details.html" class="stretched-link">Thomas Nancy</a></h5>
                        <span class="designation">Marketing Head</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-mem-item">
                    <figure class="member-pic">
                        <img src="{% static 'assets/img/team/02.jpg' %}" alt="Team-Businex">
                    </figure>
                    <div class="member-info">
                        <h5><a href="team-details.html" class="stretched-link">Nail Mathue</a></h5>
                        <span class="designation">Head of Research</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}