{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}


<!--== Start Page Header Area ==-->
<div class="page-header-area bg-img" data-bg="{% static 'assets/img/speakers.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 m-auto text-center">
                <div class="page-header-content-inner">
                    <div class="page-header-content">
                        <h2>Speakers</h2>
                        <!-- <p>Businex always try to provide the best Business Solutions for Clinets
                            to grow up their Business very sharply and smoothly.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area ==-->
<div class="team-page-area-wrapper bg-offwhite sp-y sm-top">
    <div class="container">
        <div class="row mtn-30">
            {%for item in speakers %}
            <div class="col-sm-6 col-lg-3">
                <div class="team-mem-item">
                    <figure class="member-pic">
                        <img src="{% static 'assets/img/team/01.jpg' %}" alt="Team-Businex">
                    </figure>
                    <div class="member-info">
                        <h5><a href="#" class="stretched-link">{{item.name}}</a></h5>
                        <span class="designation">CTO &amp; Founder</span><br/>
                        <span class="designation"><a href="#" class="stretched-link"><i class="mdi mdi-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}