{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}


<!--== Start Page Header Area ==-->
<div class="page-header-area bg-img" data-bg="{% static 'assets//img/page-header.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 m-auto text-center">
                <div class="page-header-content-inner">
                    <div class="page-header-content">
                        <h2>Student Idea </h2>
                        <!-- <p>Businex always try to provide the best Business Solutions for Clinets
                            to grow up their Business very sharply and smoothly.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area ==-->



<div class="container-fluid pt-5 mt-5 mb-5">
    <table class="table table-bordered ">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
            <th scope="col">Reason</th>
            <th scope="col">Idea Description</th>
            <!-- <th scope="col">Branchname</th> 
            
            <th scope="col">Upload Url</th> -->
            <th scope="col">Date</th>
          </tr>
        </thead>

        <tbody>
            {% for item in student_submit %}
          <tr>
            <td>{{item.Firstname}} {{ item.Lastname }}</td>
            <td>{{item.Email}}</td>
            <td>{{item.Phone}}</td>
            <td>{{item.Approved}}</td>
            <td>{{item.Reason}}</td>
            <td>{{item.Idea_Description}}</td>
            <!-- <td>{{item.Upload_url}}</td> -->
            <td>{{item.Date|date:"Y-m-d"}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
</div>



<!--== Start Contact Page Area Wrapper ==-->
<div class="contact-page-area-wrapper sp-y">
    <div class="container">
        <div class="contact-content-wrap">
            <div class="row mx-auto">
                <div class="col-lg-12">
                    <div class="contact-form-area contact-method">
                        <h3 style="color: #0e0067;">Student Idea Submission</h3>

                        <div class="contact-form-wrap mx-auto">
                            <!-- id="student-form" -->
                            <form action="#" method="post" id="student-btn"  class="student-register" enctype="multipart/form-data" >
                                 {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" name="firstname" id="firstname" placeholder="First Name *" required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" id="lastname" name="lastname" placeholder="Last Name *" required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="single-input-item">
                                            <label for="con_message" class="sr-only m-0"></label>
                                            <textarea id="address" name="address" cols="50" rows="4" placeholder="Address *" required></textarea>
                                                      
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="email" name="email" id="email" placeholder="Email address *" required/>
                                                       
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" name="phone" id="phone" placeholder="Your Phone" required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" id="collegename" name="collegename" placeholder="College name *" required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="text" id="branchname" name="branchname" placeholder="Branch name *" required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="single-input-item">
                                            <label>
                                                <textarea type="text" id="ideadescription" name="ideadescription" rows="4" cols="50" placeholder="Idea Description *" required></textarea>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="file" id="pdfdocument" name="pdfdocument" accept=".pdf" required/>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="single-input-item">
                                            <label>
                                                <input type="url" id="uploadurl" name="uploadurl" placeholder="Upload URL here *" required/>
                                            </label>
                                        </div>
                                    </div>
                                    

                                    <div class="single-input-item mb-0 mt-40">
                                        <button type="submit"  class="btn-outline">Submit</button>
                                    </div>

                                    <!-- <button type="submit">Register</button> -->

                                    

                                    <!-- <div class="col-12">
                                        <div class="single-input-item">
                                            <label for="con_message" class="sr-only m-0"></label>
                                            <textarea name="con_message" id="con_message" cols="30" rows="7"
                                                      placeholder="Message *" required></textarea>
                                        </div>

                                        <div class="single-input-item mb-0 mt-40">
                                            <button class="btn-outline">Send Message</button>
                                        </div>

                                        <div class="form-message"></div>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-4">
                    <div class="contact-information contact-method">
                        <div class="contact-info-con">
                            <h3>Contact Info</h3>

                            <div class="widget-item m-0">
                                <address>
                                    C/o Totalfresh H.O Above Indian Bank, Gowthama Budha Road, Mangalagiri, Andhra Pradesh 522503 <br>info@igniteap.com
<br>+91 91330 63307
                                    
                                </address>
                            </div>
                            <div class="member-social-icons mt-30">
                                <a href="http://www.facebook.com/Igniteapfest"><i class="mdi mdi-facebook"></i></a>
                                <a href="http://www.twitter.com/Igniteapfest"><i class="mdi mdi-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/igniteapfest/"><i class="mdi mdi-linkedin"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!--== End Contact Page Area Wrapper ==-->

{% endblock %}