/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 992px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 
Main components 
-------------------------------- */

.cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 992px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 992px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
.cssanimations .cd-timeline-img.is-hidden {
  visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s;
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-description {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-description {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-description {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-description {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 992px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-description {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-description {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 992px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}



/*--------------------------Card Flip----------------------------------------*/

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
  background-color:lightgray !important; /* #60c5e0 */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius:5px;
  
}


.card-front h3{
  /* padding:70px 0px; */
  line-height:250px;
  text-align: center;
  color: #fdfdfd !important;
}


.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  /* background-image: linear-gradient(to right, rgb(253,144,7) 5%,rgba(rgb(253,144,7))54%,rgba(rgb(253,144,7))94%) !important; */
  background-color: #fff;   /* rgb(253,144,7); */
  border-radius: 5px;
}

.card-back h3{
  color: #0f0167 !important;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
  
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
.card-flip .card-title {
  color: #ffffff;
  font-weight: 600;

}

.card-body{
  height: 40vh;
}

.blog-sec-main p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: justify;
  margin-bottom: 30px;
  margin-top: 30px;
}

.blog-sec-main .card-body h3{
  margin-top: 22px;
}


#ifYes{
  display: none;
}

.text-medium{
  font-size: 20px !important;
  text-align: justify;
}

.about-content{
  margin-left: 0px !important;
}

.btn-small{
 /* border: 1px solid black; */
 padding: 5px 15px;
 border-radius: 4px;
 color: #fff;
 background:linear-gradient(to right, #fc7318, #fe8415, #fe9515, #fea51a, #feb423);
 margin-top: 15px;
}

.widget-list li a{
  font-size: 18px;
}

.widget-item address{
  font-size: 18px;
}

.slick-dots{
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  margin-top: 20px !important;
  /* -webkit-box-pack: center; */
  /* -ms-flex-pack: center; */
  /* justify-content: center; */
  height: 12px;
  padding-bottom: 25px !important;
}

.service-area-top{
  padding: 110px 0 50px !important;
    position: relative;
    z-index: 1;
}

.sm-top{
  margin-top: 80px !important;
}

.sm-top2{
  margin-top: -50px;
  padding-bottom: 80px !important;
}

input{
  margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: block;
}

label {
  display: inline-block;
  margin-right: 10px !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius:20px !important;
  height: 50px !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.about-thumb img{
  width: 100%;
  /* -webkit-transition: 0.4s; */
  transition: 0.4s;
  margin-top: 65px !important;
}

@media screen and (min-width: 1200px){
.top-navbar {
    max-width:1250px !important;
}
}

.card-text-descript{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  
}

.offcanvas-head-title{
  cursor: pointer;
  color: #0f0167 !important;
  background-color:#fd9007 !important;
  position:fixed;
  top:400px !important;
  right: -44px !important;
  -webkit-transform: rotate(-90deg);
}

.offcanvas.offcanvas-end {
  height: 400px !important;
  top: 30% !important;
  right: 20px !important;
  width: var(--bs-offcanvas-width);
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateX(100%);
  position: absolute;
  width: 300px !important;
}

.btn-secondary{
  color: Black !important;
  background-color: red !important;

}



/* .offcanvas-head-title span{
  display: block;
  position: absolute;
  left: 80px;
  -webkit-transform: rotate(-90deg);
}
   */
/* [type=button]:not(:disabled):hover{
  cursor: pointer;
  color: black;
  background-color: red !important;
}
   */

 


  /*-------------------------------------------------------------------------------------------------------*/

  @import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

 
  #feedbackDrawer {
    background: #0f0167; /* #d3d3d3; */
    border: none;
    border-right: none;
    /* box-shadow: 1px 1px #d3d3d3, -1px 1px #d3d3d3, -1px -1px #d3d3d3,
      1px -1px #d3d3d3; */
    font-family: "PT Sans", sans-serif;
    height: auto;
    min-height: 160px;
    position: fixed;
    right: -323px;
    text-shadow: 0 1px 0 #fd9007;
    /* color: #fd9007 !important; */
    top: 300px;
    width: 320px;
    z-index: 100000;
    font-size: 15px!important;
  
   
    -webkit-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease;
  }
  #feedbackDrawer h2 {
    font-size: 26px;
    margin: 2px 0px;
    color: #fd9007 !important;
  }
  #feedbackDrawer.showDrawer {
    right: 0px;
  }
  #feedbackDrawer.loading {
    background: #d3d3d3 url(images/loading.gif) no-repeat center center;
  }
  /* #feedbackDrawer.isie {
    outline: 1px solid #d3d3d3;
  } */
  #feedbackForm {
    padding: 16px;
  }

#feedbackForm form p{
  color: white !important;
}

  #feedbackForm .field {
    /* border: 2px solid #ccc; */
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fd9007;
    display: inline-block;
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
    line-height: 18px;
    padding: 10px !important;
    width: 300px;
  }
  #feedbackForm .field.error {
    border-color: #ff0000;
    border: solid 2px rgba(256, 0, 0, 0.5);
  }
  #feedbackDrawer #feedbackForm label.error {
    display: none;
  }
  #feedbackDrawer.showDrawer #feedbackForm label.error {
    display: block;
    position: absolute;
    right: 295px;
    z-index: 2000;
    margin-top: 0.2em;
    background: #fcfcfc;
    padding: 0.5em;
    /* border: 0.2em solid red; */
    border-color: rgba(256, 0, 0, 0.5);
    white-space: nowrap;
    min-width: 245px;
    text-align: center;
    box-shadow: 0 6px 2px -4px rgba(0, 0, 0, 0.2);
  }
  #feedbackDrawer.showDrawer #feedbackForm label.error:before,
  #feedbackDrawer.showDrawer #feedbackForm label.error:after {
    content: "";
    position: absolute;
    z-index: 2001;
    border: transparent 10px solid;
    border-right: 0;
    border-left-color: #fcfcfc;
    right: -0.7em;
    top: 0.3em;
  }
  #feedbackDrawer.showDrawer #feedbackForm label.error:before {
    border-left-color: red;
    border-left-color: rgba(256, 0, 0, 0.4);
    right: -0.9em;
  }
  #feedbackForm select.field {
    width: 270px;
  }
  #feedbackForm div {
    padding: 5px 2px;
    font-size: 14px;
  }
  #feedbackSuccess,
  #feedbackError {
    display: none;
    padding: 30px 16px;
    text-align: center;
  }
  #feedbackSuccess p,
  #feedbackError p {
    font-size: 13px;
  }
  #feedbackTrigger {
    background: #d3d3d3;
    border: 2px solid #fff;
    border-bottom: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    position: absolute;
    padding: 8px 15px 12px;
    left: -67px;
    top: 50px;
  
  
   
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
   
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
  }
  #feedbackTrigger:hover {
    background: #c3c3c3;
    text-decoration: none;
  }
  #feedbackTrigger span {
    display: block;
    position: absolute;
    left: 40px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
  }
  .showDrawer #feedbackTrigger {
    background: #8d2424;
  }
  .isie #feedbackTrigger {
    left: -48px;
  }
  .isie #feedbackTrigger span {
    display: none;
  }
  #feedbackTrigger {
    background-color:rgb(253, 144, 7)!important;
    color: #0f0167;
    border-radius: 10px!important;
    border:none!important;
  }

#feedbackDrawer button{
  color: #0f0167 !important;
  background-color: rgb(253, 144, 7) !important;
  padding: 5px 20px !important;
  border-radius: 15px;
  font-weight:600!important;
  text-transform: uppercase !important;
  /* font-size: 20px !important; */

}

/* @media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 auto;
    width: 24.33333333% !important;
}
} */


@media (min-width: 992px){
.header-area .col-lg-3 {
    flex: 0 0 auto;
    width: 15% !important;
}
}

@media (min-width: 992px){
.d-lg-block {
    display: block!important;
    margin-left: 50px !important;
}
}


@media (max-width: 991px){
  .bg-img {
    /* background: no-repeat center center; */
    background-size: cover;
    background-position: bottom center;
    width: 100% ;
    height: 25vh;
}
.page-header-content h2 {
  color: #FFFFFF;
  font-size: 3.4375rem;
  margin-top: -110px !important;
  /* padding-top: -50px; */
}
.fun-fact-area {
  padding: 80px 0 75px;
  position: relative;
  /* margin-top: 410px !important; */
}
.sm-top7 {
  margin-top: 0px;
  padding-top: 2px !important;
  padding-bottom: 50px;
}


}



 

.main-menu>li>a {
  color: #FFFFFF;
  display: block;
  line-height: 1;
  letter-spacing: 0px !important;
  text-transform: uppercase;
  position: relative;
}

